{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": ".",
          "~": ".",
          "test": "./test",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
// npm i -D @babel/core @babel/node @babel/preset-env